body {
  font-family: Inter, sans-serif;
}
.main-title, li, .nav-title {
  color: white;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #21222A;
  height: 90px;
  padding: 0 25px;
}
.logo-title {
  display: flex;
  align-items: center;
}
.logo {
  width: 40px;
  height: auto;
  margin-right: 7px;
}
.logo-text {
  color: #61DBFB;
}
.nav-title {
  font-weight: 600;
}

.main-content {
  background-color: #282D35;
  padding: 30px 0 25% 20px;
}
.main-title {
  margin: 0;
}
.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 190px;
}
li {
  font-size: 15px;
  max-width: 400px;
  line-height: 14px;
  font-weight: 400;
  padding-block: 10px;
}
::marker {
  color:#61DBFB;
  font-size: 1.2rem;
  margin-top: 30px;
}
.gray-logo {
  height: 180px;
  width: 180px;
  margin-right: -90px;
}